

@media (max-width: 768px) {
    .nitro-room-tools-container {
        left: 10px;
    }
    .nitro-room-tools-info {
        display: none !important;
    }

    .nitro-toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #toolbar-chat-input-container {
        align-items: center;
        bottom: 80px;
        display: flex;
        justify-content: center;
        right: 10px;
        position: absolute;
        width: 300px;
    }

    .nitro-toolbar-friends {
        display: none!important;
    }
}